* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #82ccdd;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    margin: 20px 0 10px;

    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 80%;
        margin: 10px auto 0;
        background: linear-gradient(to right, transparent, rgba(103, 204, 221, 0.5), transparent);
        transition: width 0.7s ease;
    }
}

h3:after {
    content: '';
    display: block;
    height: 2px;
    width: 80%;
    margin: 10px auto 0;
    background: linear-gradient(to right, transparent, rgba(103, 204, 221, 0.5), transparent);
    transition: width 0.7s ease;
}

p {
    border-left: 4px solid rgba(130, 204, 221, 0.5);
    border-radius: 10px;
}

body {
    font-family: 'Frutiger Next Pro', 'Frutiger', 'Avenir Next', 'Roboto', Arial, sans-serif;
    background: linear-gradient(140deg, #040024, #150051, #03001e);
    background-size: 600% 600%;
    animation: Gradient 30s ease infinite;
    color: #e0e0e0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 90% 90%;
    }
    50% {
        background-position: 50% 0%;
    }
    75% {
        background-position: 90% 90%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {

}

#root-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 5%;

    & > * {
        background: rgba(10, 10, 30, 0.25);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 200px rgba(255, 255, 255, 0.1);
        margin: 3px 0;
        border-radius: 15px;
    }
}

header {
    padding: 30px 0;
    position: relative;
    text-align: center;
}

#location {
    /* position: absolute; */
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 20px;
    /* left: 15%; */
    /* top: 55%; */
}

#external-links {
    postion: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    & ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 20px;
        margin: 0px;

        & li {
            &:active {
                font-weight: 600;
            }

            &::after, &::before {
                content: '|';
                color: rgba(0.1, 0, 0.2, 0.75);
            }
        }
    }

    a {
        color: #67e6dc;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        transition: text-shadow 0.3s, transform 0.3s ease;
        text-shadow: 0 0 5px rgba(103, 230, 220, 0.5), 0 0 5px rgba(103, 230, 220, 0.5);

        &:hover {
            color: #98f5e1;
            text-shadow: 0 0 10px #67e6dc, 0 0 20px #67e6dc;
            transform: translateY(-2px);
        }
    }
}

main section {
    background: rgba(20, 20, 50, 0.5);
    border-radius: 15px;
    padding: 25px;
    margin: 12px 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(103, 230, 220, 0.1);

    &:hover {
        & h3:after {
            width: 100%;
        }
    }
}

.highlight {
    background: rgba(103, 230, 220, 0.3);
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 500;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(103, 230, 220, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

.highlight:hover {
    background: rgba(103, 230, 220, 0.5);
    box-shadow: 0 0 15px rgba(103, 230, 220, 0.7), inset 0 0 7px rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    body {
        font-size: 12px;
    }

    #external-links a {
        /* display: block; */
        /* margin: 10px 0; */
    }

    /* Stack navigation or other elements if needed */
    #external-links {
        /* flex-direction: column; */
    }
}
