* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #82ccdd;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    /* color: #3498db; */
}

h2 {
    font-size: 2em;
    margin: 20px 0 10px;
    /* color: #40C0B5; */

    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 80%;
        margin: 10px auto 0;
        background: linear-gradient(to right, transparent, rgba(103, 204, 221, 0.5), transparent);
    }
}

p {
    /* font-size: 16px; */
    /* line-height: 1.6; /* Enhances readability */ */
    margin-bottom: 10px; /* Space between paragraphs */
    padding: 15px;
    text-align: justify; /* Justify text for a cleaner look, though this can be controversial */
    /* color: #4a4a4a; */
    border-left: 4px solid rgba(130, 204, 221, 0.5);
    border-radius: 10px;
}

body {
    font-family: 'Frutiger Next Pro', 'Frutiger', 'Avenir Next', 'Roboto', Arial, sans-serif;
    /* background: linear-gradient(to right, #1a1a1a, #66A6FF); */
    background: linear-gradient(140deg, #040024, #150051, #03001e);
    background-size: 600% 600%;
    animation: Gradient 30s ease infinite;
    color: #e0e0e0;
    line-height: 1.6;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    /* border-radius: 15px; */
}

#root-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 5%;

    & > * {
        background: rgba(10, 10, 30, 0.25);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 200px rgba(255, 255, 255, 0.1);
        margin: 3px 0;
        border-radius: 15px;
    }
}

header {
    padding: 30px 0;
    position: relative;
    text-align: center;
    /* border-radius: 0 0 85% 85% / 30%; */
}

#location {
    position: absolute;
    display: inline-block;
    left: 15%;
    top: 55%;
}

#external-links {
    postion: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    & ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 20px;
        margin: 0px;

        & li {
            &:active {
                font-weight: 600;
            }

            /* &:not(:last-child)::after { */
            /*     content: '|'; */
            /*     color: #67e6dc; */
            /* } */
        }
    }

    a {
        color: #67e6dc;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        transition: text-shadow 0.3s, transform 0.3s ease;
        text-shadow: 0 0 5px rgba(103, 230, 220, 0.5), 0 0 5px rgba(103, 230, 220, 0.5);

        &:hover {
            color: #98f5e1;
            text-shadow: 0 0 10px #67e6dc, 0 0 20px #67e6dc;
            transform: translateY(-2px);
        }
    }
}

main section {
    background: rgba(20, 20, 50, 0.75);
    border-radius: 15px;
    padding: 25px;
    margin: 12px 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(103, 230, 220, 0.1);
    transition: all 0.3s ease;

    /* &:hover { */
    /*     background: rgba(255, 255, 255, 0.8); */
    /*     box-shadow: 0 5px 25px rgba(8, 68, 129, 0.5); */
    /* } */
}
